version: "3.9"

services:
  frontend:
    build: .
    container_name: suplementos_frontend
    ports:
      - "5173:5173"
    environment:
      - NODE_ENV=production
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev -- --host
